@import "../../../../variables.scss";

.MyTricksListItem {
	padding: 1.2rem;
	margin: 0 1.2rem;
	border-radius: 0.4rem;
	box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

	&:hover {
		box-shadow: 0.1rem 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
	}

	&.Active {
		background-color: $logoColor;
		box-shadow: 0.1rem 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
		transition-property: background-color;
		transition-duration: 0.3s;
	}

	.Header {
		color: $menuColorDark;
		font-size: 1.4rem;
	}
}
