@import "../../../../variables.scss";

.MyTricksListItem {
	display: block;
	padding: 1.2rem;
	margin: 0 1.2rem;
	border-radius: 0.4rem;
	box-shadow: $boxShadow;
	cursor: pointer;

	&:hover {
		box-shadow: $boxShadowActive;
	}

	&.Active {
		background-color: $toxicGreenColor;
		box-shadow: $boxShadowActive;
		transition-property: background-color;
		transition-duration: 0.3s;

		.Title {
			color: $navyColorLight;
		}
	}

	.Title {
		font-size: 1.4rem;
		color: $navyColor;
		display: block;
		font-weight: bold;
		padding: 1.2rem;
	}
}
