@import "../../../../styles/variables.scss";

.Calendar {
	display: flex;
	flex-direction: column;
	min-width: 30rem;

	.CalendarWithSlider {
		display: flex;
		justify-content: space-between;

		.ColumnsWrapper {
			display: flex;
			overflow: hidden;

			.Columns {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				transition: transform 0.4s ease-in-out;
			}
		}
	}

	.WeekDays {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-weight: bold;

		.WeekDay {
			border: 0.2rem solid $whiteColor;
		}
	}
}
