@import "../../../styles//variables.scss";
@import "../../../styles/mixins.scss";

.MyTrickDetails {
	padding: 2.4rem 1.2rem;

	.Row {
		display: flex;
		justify-content: space-between;
	}

	.Score {
		display: flex;

		.CurrentLevel {
			white-space: nowrap;
			margin: auto 0;
		}
	}

	.CurrentLevel,
	.TrickName,
	.SuccessRate {
		margin-bottom: 1.2rem;
	}

	.Column {
		width: 45%;
	}

	.Calendar {
	}
}

.AddScore {
	width: 10rem;
	margin-left: 2rem;

	@include Button();
}

@media (min-width: 60rem) {
	.Row {
	}
}
