@import "../../../styles//variables.scss";
@import "../../../styles/mixins.scss";

.MyTrickDetails {
	padding: 2.4rem 1.2rem;
	border-left: $veryLightBorder;

	.Row {
		.Column {
			width: 100%;
			margin-bottom: 2rem;
			padding: 2rem 4rem;
			border: $veryLightBorder;
		}
	}

	.Score {
		display: flex;
		margin-bottom: 2rem;

		.CurrentLevel {
			white-space: nowrap;
			margin: auto 0;
		}

		.AddScore {
			width: 10rem;
			margin-left: 2rem;

			@include Button();
		}
	}

	.ScoreChart {
		display: flex;
	}

	.CurrentLevel,
	.TrickName,
	.SuccessRate {
		margin-bottom: 1.2rem;
	}

	.Video {
		flex-grow: 1;
	}
}

@media (min-width: 60rem) {
	.MyTrickDetails {
		.Row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 2rem;

			.Column {
				width: 49%;
				margin-bottom: 0;
			}
		}
	}
}
