$toxicGreenColor: rgb(23, 255, 116);
$toxicGreenColorLight: lighten($toxicGreenColor, 25%);

$navyColor: rgb(7, 47, 113);
$navyColorLight: lighten($navyColor, 20%);
$navyColorDark: darken($navyColor, 5%);

$purpleColor: rgb(93, 19, 144);
$purpleColorDark: darken($purpleColor, 10%);

$greyColor: rgb(215, 215, 215);
$greyColorLight: lighten($greyColor, 10%);
$greyColorVeryLight: lighten($greyColorLight, 3%);

$whiteColor: rgb(255, 255, 255);

$redColor: rgb(243, 2, 24);

$tileboxShadow: 0.1rem 0.1rem 0.3rem transparentize($navyColor, 0.7);
$tileboxShadowActive: 0.1rem 0.1rem 0.3rem transparentize($navyColor, 0.5);

$inputBoxShadow: inset 0 0 0 0.1rem transparentize($navyColor, 0.7),
	inset 0 0.1rem 0.1rem transparentize($navyColor, 0.7);
$inputBoxShadowFocus: 0 0 0 1px lighten($navyColorLight, 35%), $inputBoxShadow;

$veryLightBorder: 0.1rem solid transparentize($navyColorDark, 0.85);

$headerHeight: 5.6rem;
$inputHeight: 3.2rem;
