$toxicGreenColor: rgb(23, 255, 116);

$navyColor: rgb(7, 47, 113);
$navyColorLight: lighten($navyColor, 20%);
$navyColorDark: darken($navyColor, 5%);

$purpleColor: rgb(93, 19, 144);
$purpleColorDark: darken($purpleColor, 10%);

$greyColor: rgb(215, 215, 215);
$greyColorLight: lighten($greyColor, 10%);
$greyColorVeryLight: lighten($greyColorLight, 3%);

$whiteColor: rgb(255, 255, 255);

$boxShadow: 0.1rem 0.1rem 0.3rem transparentize($navyColor, 0.7);
$boxShadowActive: 0.1rem 0.1rem 0.3rem transparentize($navyColor, 0.5);
$headerHeight: 5.6rem;
