@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Toolbar {
	height: $headerHeight;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $navyColor;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	padding: 0 2rem;
}

@include DesktopOnly;
