@import "../../variables.scss";

.Toolbar {
	height: $headerHeight;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $purpleColor;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 90;
	padding: 0 2rem;
}

@media (max-width: 59.99rem) {
	.DesktopOnly {
		display: none;
	}
}
