@import "../../variables.scss";

.MyTricks {
	height: 100%;
	display: flex;

	.List {
		width: 20%;
		height: 100%;
	}

	.Details {
		width: 80%;
		height: 100%;
	}

	.AddTricks {
		margin: auto;
		text-align: center;

		span {
			color: $navyColor;
			display: block;
		}

		a {
			color: $whiteColor;
			background-color: $toxicGreenColor;
			padding: 2rem;
			font-size: 2rem;
			display: block;
			margin: 7rem 0;
		}
	}
}
