@import "../../../../styles/variables.scss";

.AddRemoveButton {
	width: 3.2rem;
	height: 3.2rem;
	background-color: $whiteColor;
	border: none;
	border-radius: 50%;
	box-shadow: $boxShadow;

	&:focus,
	&:hover {
		box-shadow: $boxShadowActive;
		transition-property: box-shadow;
		transition-duration: 0.5s;
	}

	&:active {
		transition: none;
		box-shadow: $boxShadowActive;
	}
}
