@import "../../../../variables.scss";

.AddRemoveButton {
	width: 3.2rem;
	height: 3.2rem;
	background-color: $backgroundColorBright;
	border: none;
	border-radius: 50%;
	box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);

	&:focus,
	&:hover {
		box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
		transition-property: box-shadow;
		transition-duration: 0.5s;
	}

	&:active {
		box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.6);
	}
}
