.NavigationItem {
	width: 100%;
}

.NavigationItem a {
	padding: 12px;
	color: #5d1390fc;
	box-sizing: border-box;
	text-decoration: none;
	display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
	background-color: #17ff74;
}

@media (min-width: 500px) {
	.NavigationItem {
		width: auto;
	}

	.NavigationItem a {
		color: #fff;
		padding: 12px 10px;
	}
}
