@import "../../../variables.scss";

.NavigationItem {
	width: 100%;

	a {
		padding: 1.2rem;
		font-size: 1.6rem;
		color: $menuColor;
		display: block;
	}

	a:hover {
		background-color: $menuColorDark;
	}

	a:active,
	a.active {
		background-color: $logoColor;
	}
}

@media (min-width: 60rem) {
	.NavigationItem {
		width: auto;
		margin: 0 0.4rem;

		a {
			color: $backgroundColorBright;
			padding: 1.2rem 1rem;
		}
	}
}
