@import "../../styles/variables.scss";

@keyframes rotation {
	20% {
		transform: rotate(430deg);
	}
	66% {
		transform: rotate(-415deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.Logo {
	font-size: 2rem;
	color: $toxicGreenColor;
	font-weight: bold;
	cursor: pointer;
	user-select: none;

	span {
		font-size: 3.4rem;
		vertical-align: middle;
		color: inherit;
	}

	&:hover {
		animation: rotation 4s;
	}
}
