@import "../../../../../variables.scss";

.SliderButton {
	border: none;
	background: $whiteColor;

	&:hover {
		color: $navyColor;
	}

	&:active {
		color: $navyColorDark;
	}

	&:disabled {
		color: $greyColor;
	}
}
