@import-normalize;

@import "./styles/variables.scss";

@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Regular.woff);
}
@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Bold.woff);
	font-weight: bold;
}
@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Italic.woff);
	font-style: italic;
}

* {
	font-family: "JetBrains Mono", "Courier New", Courier, monospace;
	box-sizing: border-box;
	text-decoration: none;
}

[data-whatintent="mouse"] *:focus {
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	height: calc(100vh - #{$headerHeight});
	color: $navyColorDark;
}

.root {
	height: 100%;
}

ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.8rem;
}

p {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

input {
	font-size: 1.4rem;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input,
.bp3-input {
	color: $navyColorDark;
}
