@import-normalize;
@import "./variables.scss";

@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Regular.woff);
}
@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Bold.woff);
	font-weight: bold;
}
@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Italic.woff);
	font-style: italic;
}

* {
	font-family: "JetBrains Mono", "Courier New", Courier, monospace;
	box-sizing: border-box;
	text-decoration: none;
	color: $menuColorDark;
}

[data-whatintent="mouse"] *:focus {
	outline: none;
}

html {
	font-size: 62.5%;
	margin: 0;
}

body {
	height: calc(100vh - #{$headerHeight});
	margin: 0;
}

.root {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
}
