@import-normalize;

@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Regular.woff);
}
@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Bold.woff);
	font-weight: bold;
}
@font-face {
	font-family: "JetBrains Mono";
	src: url(./fonts/JetBrainsMono-Italic.woff);
	font-style: italic;
}

* {
	font-family: "JetBrains Mono", "Courier New", Courier, monospace;
}
