.Hamburger {
	width: 3rem;
	height: 1.7rem;
	cursor: pointer;
	user-select: none;
}
.Hamburger a {
	position: relative;
}
.Hamburger a,
.Hamburger a:before,
.Hamburger a:after {
	display: block;
	width: 100%;
	height: 0.3rem;
	background: #fff;
	border-radius: 0.2rem;
}
.Hamburger a:before,
.Hamburger a:after {
	content: "";
	position: absolute;
}
.Hamburger a:before {
	bottom: -0.7rem;
}
.Hamburger a:after {
	bottom: -1.4rem;
}

@media (min-width: 60rem) {
	.Hamburger {
		display: none;
	}
}
